<?xml version="1.0"?>
<!--
  Usage:
    roslaunch cr5_bringup cr5_bringup.launch robot_ip:=<value>
-->
<launch>

  <!-- robot_ip: IP-address of the robot's socket-messaging server -->
  <arg name="robot_ip" doc="IP of the controller" default="$(arg robot_ip)"/>
  <arg name="robotName" doc="Name of the robot" default=""/>

  <!-- <node name="$(arg robotName)$(env DOBOT_TYPE)_robot" pkg="dobot_v4_bringup" type="dobot_v4_bringup" output="screen" > -->
  <node name="dobot_driver" pkg="dobot_v4_bringup" type="dobot_v4_bringup" output="screen" >
    <param name="num_nodes" type="int" value="1" />
    <param name="robot_node_name" type="str" value="$(arg robotName)"/>
    <param name="joint_publish_rate" type="double" value="50" />
    <param name="trajectory_duration" type="double" value="0.1" />
    <param name="robot_ip_address" type="str" value="$(arg robot_ip)"/>
  </node>

</launch>
